<head>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <%- include('header') %>
    <article class="messageDetailsContainer">
        <div class="messageDetails">
            <h1>Author: <%=message.author%></h1>
            <div>
                <p class="messageText">Message:</p>
                <p class="messageText"><%=message.text%></p>
            </div>
            <p class="messageAdded">Added on: <%=message.added%></p>    
        </div>
        <a class="messageLink" href="/">Return</a>        
    </article>
    <%- include('footer') %>
</body>