<head>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <%- include('header') %>
    <%- include('form') %>
    <ul class="messageContainer">
        <% for (let i = messages.length -1; i > -1; i--){ %>
            <div class="message">
                <ul class="messageText"><%= messages[i].text %></ul>
                <a class="messageLink" href=<%="/details?id=" + i%>>Show details</a>    
            </div>
        <% } %>
    </ul>
    <%- include('footer') %>
</body>